<div class="card custom-card">
  <div class="img-wrapper">
    <img src="assets/home1.webp" class="card-img-top" alt="My home">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-car"></i></button>
      </li>
      <li class="list-inline-item">

        <button class="btn btn-primary"><i class="fa fa-car"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h2 class="card-title">{{shorouk.Name}}</h2>
    <h4 class="card-text">{{shorouk.type}}</h4>
    <h4 class="card-text">{{shorouk.price}}</h4>
  </div>
</div>
